extends ../base 
include ../mixins/video-list
include ../mixins/comment

block content
  div.watch-main
    div.watch-blank
    div.watch
      div.watch-container(data-id=video._id)
        div.watch-video
          if isHeroku
            video(src=video.fileUrl)
          else
            video(src=`/${video.fileUrl}`)
          div.watch-video__icons
            i.fas.fa-play
        div#watchControls.watch-controls
          div.watchControls-timeline 
            input(type="range",step="1",value="0",min="0")#timeline.watchControls-timeline__current
          div.wathchControls-buttons
            div.wathchControls-buttons__left
              div.watchControls-play
                span#play
                  i.fas.fa-play
              div.watchControls-volume__icon
                span#mute
                  i.fas.fa-volume-up
              div.watchControls-volume__bar
                input(type="range",step="0.05",value="0.5",min="0",max="1")#volume
              div.watchControls-time 
                span#currentTime 00:00
                span /
                span#totalTime 00:00
            div.wathchControls-buttons__right
              i.fas.fa-cog
              i.fas.fa-mobile-alt
              div.watchControls-screen
                span#fullScreen 
                  i.fas.fa-expand
      div.watch-data
        span.watch-data__title #{video.title}
        div.watch-data__meta
          div.watch-data__meta-number
            span 조회수 #{video.meta.views}회 • 
            span #{video.createdAt.getFullYear()}. 
            span #{video.createdAt.getMonth()+1}. 
            span #{video.createdAt.getDate()}.
          .watch-data__meta-icons
            a(href="")
              i.far.fa-thumbs-up 
              span 223
            a(href="")
              i.far.fa-thumbs-down
              span 싫어요
            a(href="")
              i.fas.fa-external-link-alt
              span 공유
            a(href="")
              i.fas.fa-download
              span 오프라인 저장
            a(href="")
              i.far.fa-plus-square
              span 저장
            div.watch-data__meta-icons__list
              i.fas.fa-ellipsis-h
              div.watch-data__meta-icons__list-box
                a(href=`/videos/${video._id}/edit`).watch-data__meta-icons__list-box__content
                  i.far.fa-edit
                  span Edit Video 
                a(href=`/videos/${video._id}/delete`).watch-data__meta-icons__list-box__content
                  i.far.fa-trash-alt
                  span Delete Video 
      div.watch-owner
        div.watch-owner__info
          if !video.owner.avatarUrl.startsWith("h")
            img(src="/"+`${video.owner.avatarUrl}`).avatarImg
          else
            img(src=video.owner.avatarUrl).avatarImg
          div.watch-owner__info-nickname
            h3 #{video.owner.name}
            span 구독자 0명
          div.watch-owner__info-btn
            span 구독
        div.watch-owner__description
          p #{video.content}
      div.watch-comment__add(data-videoId=video._id)
        if loggedIn
          if isHeroku
            img(src=`${loggedInUser.avatarUrl}`).avatarImg
          else 
            img(src=`/${loggedInUser.avatarUrl}`).avatarImg
          form(method="POST").watch-comment__add-form
            textarea(cols="30",rows="1",placeholder="공개 댓글 추가...")
            div.watch-comment__btns
              div#cancelBtn
                span 취소
              div#submitBtn
                span 댓글
      div.watch-comments
        each comment in video.comments.reverse()
          div.watch-comments__mixins(data-commentId=comment._id) 
            +comment(comment) 
    div.watch-sideBar
      each video in videos
        +videoList(video)
    div.watch-blank
block scripts 
  script(src="/assets/js/videoPlayer.js")
  script(src="/assets/js/commentSection.js")
  script(src="/assets/js/watchFunction.js")