extends ../base 
include ../mixins/video

block content
  if !avatarOk
    img(src="/"+`${user.avatarUrl}` ,width="50",height="50")
  else
    img(src=user.avatarUrl,width="50",height="50")
  h3 Name #{user.name}
  h3 Email #{user.email}
  hr 
  each video in user.videos
    +video(video)
  hr
  if loggedInUser._id == user._id
    a(href=`/users/${loggedInUser._id}/edit`) Edit Profile &rarr;
    br
    if !loggedInUser.socialOnly
      a(href=`/users/${loggedInUser._id}/edit-password`) Changed Password &rarr;